# invisible files
.gitignore

# examples written by TensorFlow
mnist_deep.py
mnist_softmax.py

# mine that I don't want public
mnist_explore.py
mnist_mine.py

# notes, ideas, and code graveyard
mnist_graveyard.py
notes_and_ideas.py
